.editor {
  .gutter .line-number.color-gutter:not(.folded) {
    width: 100%;
    border-right: 2px solid;
    padding-right: ~"calc(0.5em - 2px)";

    transition: border-width 0.3s;

    &:hover {
      border-right-width: 5px;
      padding-right: ~"calc(0.5em - 5px)";
    }
  }
}

.testing {
  @test1: #fff;
  // @test1: #fff;
  @test2: #ff0000;
  // @test2: #ff0000;
  @test3: rgb(0, 125, 255);
  // @test3: rgb(0, 125, 255);
  @test4: rgba(255, 125, 0, 0.8);
  // @test4: rgba(255, 125, 0, 0.8);
  @test5: rgb(25%, 75%, 100%);
  // @test5: rgb(25%, 75%, 100%)
  @test6: rgba(0%, 100%, 25%, .4);
  // @test6: rgba(0%, 100%, 25%, .4)
  @test7: hsl(120, 100%, 75%);
  // @test7: hsl(120, 100%, 75%)
  @test8: hsla(240, 100%, 50%, 0.7);
  // @test8: hsla(240, 100%, 50%, 0.7)
}
